# This is Git's per-user configuration file.
[alias]
	s = status
	b = bisect
	st = status -s
	logs = log --oneline
	br = branch
	ch = checkout
	nbr = checkout -b
	ad = add .
	rs = reset .
	c = commit
	cm = commit -m
	ac = commit -am
	amend = commit --amend
	chp = cherry-pick
	rlogs = logs --raw
	rlog = log --raw
  d = diff
	dc = diff --cached
	acn = ac nothing!
	act = ac TODO
  bug = ac BUG
	todo = ac TODO
[core]
	editor = vim
[user]
	name = pooyan
	email = thepooyan@gmail.com
[credential]
	helper = store
